<div class="accordion" id="accordion">
    {% for item in items %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.pk }}">
                    {{ item.title }}
                </a>
            </div>
            <div id="collapse{{ item.pk }}" class="accordion-body collapse">
                <div class="accordion-inner">
<pre>
{{ item.body }}
</pre>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
